body {
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #533f84;
    color: white;
}

main {
    padding: 20px;
    max-width: 600px;
    margin: auto;
    margin-top: 30px;
    background: #222;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    font-size: 14px;
    color: #ccc;
}

form input, form select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #533f84;
    border-radius: 4px;
    background: #333;
    color: #fff;
}

form button {
    background-color: #533f84;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #40267b;
}

#total-price {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
